body {
    background-color: lightskyblue;
    color: white;
    border: 5px solid rgb(72, 205, 49);
    max-width: 650px;
    padding: 20px;
    margin: 30px;
}

img {
    height: 200px;
    float: right
}

h1 {
    font-style: italic;
    font-size: 34px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

ul {
    list-style-type: none;
    text-align: center;
  }  

li {
    color: white;
    float: left;
    padding: 0 10px;
    border-left: solid 1px black;
}

li:first-child {
    border-left: none;
}

h2 {
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: rgb(74, 204, 153);
    font-style: normal;
}

p {
    font-size: 18px;
}